* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.message-wrapper {
  width: 100%;
  padding: 180px 100px;
  text-align: center;
}

.message-wrapper h1 {
  font-size: 3rem;
  font-weight: normal;
  color: rgba(7,191,163,1);
}

.message-wrapper p {
  color: rgba(7,191,163,1);
  margin-top: 15px;
  font-size: 1.4rem;
}
