.message-wrapper {
  width: 100%;
  padding: 230px 100px;
  text-align: center;
}

.message {

}

.message-wrapper h1 {
  flex: 1;
  font-size: 3rem;
  font-weight: normal;
}

.message-wrapper p {
  flex: 1;
  margin-top: 1.5rem;
  font-size: 1.4rem;
}
