* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ===== ここからメイン部分 ===== */
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.reservation-wrapper {
  width: 100%;
  margin: 50px auto;
}

/* ===== フォーム共通 ===== */
.reservation-form {
  width: 60%;
  margin: 0 auto;
}

.form-title {
  text-align: center;
  padding: 20px 0;
}

.form-title h2 {
  font-weight: normal;
}

table, th, td {
  border-bottom: 1.5px solid rgba(7,191,163,1);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 30px 0;
  text-align: center;
}

th {
  width: 30%;
  text-align: left;
  padding: 5px;
  font-weight: normal;
  font-size: 18px;
}

td {
  width: 70%;
  padding: 5px 20px;
  text-align: left;
  font-size: 18px;
}

.submit {
  font-size: 16px;
  display: block;
  width: 50%;
  padding: 5px 0;
  border-radius: 4px;
  background-color: #fff;
  color: rgba(7,191,163,1);
  border: 2px solid rgba(7,191,163,1);
  margin: 50px auto;
  cursor: pointer;
}

.submit:hover {
  background-color: rgba(7,191,163,1);
  color :#fff;
  transition: all 0.5s;
}
