.confirm-wrapper {
  width: 100%;
  margin: 50px auto;
}

/* ===== タイトル部分（form-title） ===== */
h1, h2, h3 {
  font-weight: normal;
}

.form-title {
  text-align: center;
  padding: 1.2rem 0;
  margin-bottom: 3rem;
  border: 2px solid #eee;
}

.form-title h1 {
  font-size: 1.5rem;
  line-height: 2;
}

/* ===== 内容確認フォーム（confirm-form） ===== */
.confirm-form {
  width: 60%;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 2rem 0;
  text-align: center;
}

th, td {
  border-bottom: 1.5px solid rgba(7,191,163,1);
  padding: 0.75rem;
  text-align: left;
  font-size: 1.1rem;
}

th {
  width: 35%;
  font-weight: normal;
  font-size: 1.1rem;
}

td {
  width: 65%;
}

.submit {
  display: block;
  width: 50%;
  height: 3.5rem;
  line-height: 1.5;
  font-size: 1.1rem;
  background-color: #fff;
  color: rgba(7,191,163,1);
  border: 2px solid rgba(7,191,163,1);
  border-radius: 0.25rem;
  margin: 3rem auto;
  cursor: pointer;
}

.submit:hover {
  background-color: rgba(7,191,163,1);
  color :#fff;
  transition: all 0.4s;
}
