* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ===== ここからメイン部分 ===== */
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.reservation-wrapper {
  width: 100%;
  margin: 50px auto;
}

/* ===== フォーム共通 ===== */
.reservation-form {
  width: 80%;
  margin: 0 auto;
}

.form-title {
  text-align: center;
  padding: 20px 0;
}

.form-title h2 {
  font-weight: normal;
}

table {
  border-collapse: collapse;
  margin: 30px 0;
}

th {
  padding: 5px;
  font-weight: normal;
  text-align: right;
}

td {
  padding: 5px;
  text-align: left;
}

th p,
th span {
  display: inline-block;
  margin-right: 5px;
}

th p {
  font-size: 18px;
}

th span {
  padding: 3px 6px;
  background-color: #ffb9b5;
  font-size: 16px;
  color: red;
  opacity: 0.7;
  border-radius: 4px;
}

.firstName,
.LastName {
  display: inline-block;
  width: 45%;
  margin-right: 5px;
}

input,
select {
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.men,
.women {
  width: 30%;
  display: inline-block;
  color: #495057;
}

.checkbox {
  font-size: small;
  /* display: inline-block; */
}

.who-stay {
  color: #495057;
}

.credit {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin-bottom: 10px;
}

.expiration-date {
  display: inline-block;
  width: 30%;
}

.card-security {
  display: block;
  width: 30%;
}

.any {
  display: inline-block;
  margin-right: 5px;
  padding: 3px 6px;
  background-color: #87cefa;
  font-size: 16px;
  color: blue;
  opacity: 0.7;
  border-radius: 4px;
}

textarea {
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1.2rem;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.submit {
  display: block;
  width: 50%;
  line-height: 1.5;
  background-color: #fff;
  color: rgba(7,191,163,1);
  border: 2px solid rgba(7,191,163,1);
  margin: 50px auto;
  cursor: pointer;
}

.submit:hover {
  background-color: rgba(7,191,163,1);
  color :#fff;
  transition: all 0.5s;
}
